@import url("https://fonts.googleapis.com/css2?family=Comme:wght@400;500;600;700&family=Encode+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer base {
  body {
    font-family: "Comme";
  }
}
